{% extends "base_generic.html" %}

{% block content %}
<div>
  <h2>Author: </h2>

  <p><strong> {{ author.first_name }} {{ author.last_name }}</strong> </p> 
  <p><strong> Author books:</strong></p>
    <ul>
      {% if author.book_set.all %}
        {% for book in author.book_set.all %}
        <li style="margin-bottom: 10px;"><strong>"{{ book }}"</strong>
          <ul style="list-style: none;">
            <li>Language: {{ book.language.lang }}</li>
            <li>Genre: {{ book.genre.all|join:", " }} </li>
          </ul>
        </li>
        {% endfor %}
      {% endif %}
    </ul>  
</div>
{% endblock %}